@charset "utf-8";
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font-size: 14px;font-family: "微软雅黑";background:#fff;-webkit-text-size-adjust:100%;}
a{color:#2d374b;text-decoration:none}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}

.w_80{width: 80px;}
.m_l_80{margin-left: 80px;}

.w_100{width: 100px;}
.m_l_100{margin-left: 100px;}

.mainPart{width: 1160px;margin: 0 auto;padding: 20px;}
.mainPart .title{height: 50px;line-height: 50px;font-size: 20px;font-weight: bold;}
.mainPart .allot{width: 100%;height: 30px;}
.mainPart .allot > .cell{height: 30px;line-height: 30px;float: left;}
.mainPart .optionBox{position: relative;}
.mainPart .optionBox > label{position: absolute;left: 0;height: 30px;line-height: 30px;text-align: center;}

.mainPart ul.questions{padding: 20px;border: 1px solid #ccc;margin: 20px 0;}
.mainPart ul.questions:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.mainPart ul.questions li{float: left;margin: 10px;width: 140px;height: 240px;}
.mainPart ul.questions li .imgBox{width: 140px;height: 190px;}
.mainPart ul.questions li .imgBox .img{width: 100%;height: 100%;overflow: hidden;}
.mainPart ul.questions li .imgBox .img img{width: 100%;height: 100%;}
.mainPart ul.questions li span{height: 50px;line-height: 25px;padding: 0 5px;display: block;overflow: hidden;text-align: center;}

.mainPart .buttonList{width:100%;}
.mainPart .buttonList:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.mainPart .buttonList a{float: left;padding: 0 20px;height: 30px;line-height: 30px;border: 1px solid #ccc;border-radius: 4px;margin: 0 10px;}
.mainPart .buttonList a:first-child{margin-left: 0;}
.mainPart .buttonList a:last-child{margin-right: 0;}
.mainPart .buttonList a.blue{background-color: #3399fe;color: #fff;border: 1px solid #3399fe;}